.timeline-box {
    background: #fff;
    padding: 50px 80px;
    position: relative;
    min-height: 100vh;
    margin-top:40px;
}
.timeline-year {
    margin: 10px 0;
	padding: 20px 0;
}
.yearToggle{
    font-size: x-large;
    font-weight: 450;
    line-height: 10px;
    margin: 50px 0;
    color: #6bc30d;
    width: 400px;
    bottom: 20px;
}

