.header-logo {
	/* display:flex; */
	justify-content: center;
	align-items: center;
	/* min-height: 100vh; */
	color: #5FB878;
	float: left;
}

.header {
	height: 59px;
	width: 100%;
	border-bottom: 1px solid #404553;
	background-color: #393D49;
	position: fixed;
	z-index: 99;
}

.layui-fluid {
	margin-top: 59px;
	flex: 1;
}
.layui-container{
	margin-top: 59px;
	flex: 1;
	background-color: #393D49;
}

.header-logo h1 {
	font-size: 3rem;
	font-weight: bold;
	font-family: monospace;

	width: 20px;
	padding: 2px 0 2px 20px;
	width: 20px;
	height: 4rem;
	width: 6ch;
	overflow: hidden;
	animation: 4s typing steps(13, jump-none) forwards infinite;
}

@keyframes typing {
	from {
		width: 1ch;
	}

	to {
		width: 13ch;
	}
}
