<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ugly.blog.mapper.ArticleCategoryRefMapper">

    <select id="getCountByCategory" resultType="java.lang.Integer" parameterType="integer">
        SELECT COUNT(*)
        FROM article_category ac
                 INNER JOIN article a ON ac.article_id = a.article_id
        WHERE ac.category_id = #{categoryId}
    </select>


    <select id="getPageByCategory" resultMap="com.ugly.blog.mapper.ArticleMapper.articleMap">
        SELECT a.article_id,
               a.title,
               a.click,
               a.comment,
               a.create_time,
               a.summary,
               a.user_id,
               a.is_original
        FROM article_category ac
                 INNER JOIN article a ON ac.article_id = a.article_id
        WHERE ac.category_id = #{categoryId}
        LIMIT #{begin},#{pageSize}
    </select>

    <select id="getCategoryListByArticleId" resultMap="com.ugly.blog.mapper.CategoryMapper.categoryMap">
        SELECT c.*
        FROM article_category acr
                 LEFT JOIN article a ON a.article_id = acr.article_id
                 LEFT JOIN category c ON acr.category_id = c.category_id
        WHERE a.article_id = #{articleId};
    </select>

    <select id="getCategoryByArticleId" resultMap="com.ugly.blog.mapper.CategoryMapper.categoryMap">
        SELECT c.*
        FROM article_category ac
                 LEFT JOIN category c ON ac.category_id = c.category_id
        WHERE article_id = #{articleId}
    </select>
</mapper>