<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ugly.blog.mapper.ArticleMapper">

    <resultMap id="articleMap" type="Article">
        <id property="articleId" javaType="Integer" column="article_id"/>
        <result property="authorId" javaType="Integer" column="user_id"/>
        <result property="categoryId" javaType="Integer" column="category_id"/>
        <result property="title" javaType="String" column="title"/>
        <result property="coverImage" javaType="String" column="cover_image"/>
        <result property="summary" javaType="String" column="summary"/>
        <result property="keyWords" javaType="String" column="keywords"/>
        <result property="content" javaType="String" column="content"/>
        <result property="contentMd" javaType="String" column="content_md"/>

        <result property="clickCount" javaType="Integer" column="click"/>
        <result property="commentCount" javaType="Integer" column="comment"/>
        <result property="likeCount" javaType="Integer" column="like"/>

        <result property="isTop" javaType="Integer" column="is_top"/>
        <result property="isShow" javaType="Integer" column="is_show"/>
        <result property="isOriginal" javaType="Integer" column="is_original"/>
        <result property="isPublished" javaType="Integer" column="is_published"/>

        <result property="createTime" javaType="Date" column="create_time"/>
        <result property="updateTime" javaType="Date" column="update_time"/>

        <association property="user" column="user_id" javaType="com.ugly.blog.domain.User"
                     select="com.ugly.blog.mapper.UserMapper.getById"/>

        <association property="category" column="category_id" javaType="com.ugly.blog.domain.Category"
                     select="com.ugly.blog.mapper.CategoryMapper.getById"/>

        <collection property="tagList" ofType="com.ugly.blog.domain.Tag" javaType="java.util.List"
                    resultMap="com.ugly.blog.mapper.TagMapper.tagMap"/>

    </resultMap>

    <sql id="full">
        SELECT *
        FROM article a
    </sql>

    <sql id="simple">
        SELECT a.article_id,
               a.user_id,
               a.category_id,
               a.title,
               a.cover_image,
               a.summary,
               a.click,
               a.`like`,
               a.`comment`,
               a.is_top,
               a.is_show,
               a.is_original,
               a.is_published,
               a.create_time,
               a.update_time
        FROM article a
    </sql>


    <delete id="delete">
        DELETE
        FROM article
        WHERE article_id = #{articleId};
    </delete>


    <insert id="addViewCount">
        UPDATE article
        SET click = click + 1
        WHERE article_id = #{articleId};
    </insert>


    <insert id="addLikeCount" parameterType="integer">
        UPDATE article
        SET `like` = article.`like` + 1
        WHERE article_id = #{articleId};
    </insert>


    <insert id="addCommentCount">
        UPDATE article
        SET `comment` = article.`comment` + 1
        WHERE article_id = #{articleId};
    </insert>


    <select id="getTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM article
    </select>


    <select id="getFullInfoById" resultMap="articleMap">
        <include refid="full"/>
        WHERE article_id = #{articleId}
    </select>

    <select id="getSimpleInfoById" resultMap="articleMap">
        <include refid="simple"/>
        WHERE article_id = #{articleId};
    </select>


    <select id="getTopHotArticle" resultMap="articleMap">
        SELECT article_id, title
        FROM article
        ORDER BY click DESC
        LIMIT #{num};
    </select>


    <select id="getNextArticle" resultMap="articleMap" parameterType="integer">
        SELECT article_id, title
        FROM article
        WHERE article_id > #{articleId}
        ORDER BY article_id
        LIMIT 1;
    </select>


    <select id="getPrevArticle" resultMap="articleMap" parameterType="integer">
        SELECT article_id, title
        FROM article
        WHERE article_id &lt; #{articleId}
        ORDER BY article_id DESC
        LIMIT 1;
    </select>


    <select id="getListByCondition" resultMap="articleMap" parameterType="article">
        <include refid="simple"/>LEFT JOIN user u ON a.user_id = u.user_id
        <where>
            <if test="user != null and user.nickname != null and user.nickname != '' ">
                u.nickname LIKE concat('%',#{user.nickname},'%')
            </if>
            <if test="title != null and title != '' ">
                OR a.title LIKE concat('%',#{title},'%')
            </if>
            <if test="authorId != null and authorId != '' ">
                OR a.user_id = #{authorId}
            </if>
            <if test="user != null and user.username != null and user.username != '' ">
                OR u.use_name LIKE concat('%',#{user.username},'%')
            </if>
        </where>
    </select>


    <insert id="insert" useGeneratedKeys="true" parameterType="com.ugly.blog.domain.Article"
            keyColumn="article_id" keyProperty="articleId">
        <selectKey keyProperty="articleId" keyColumn="article_id" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO article(
        <trim suffixOverrides=",">
            <if test="articleId != null ">article_id,</if>
            <if test="authorId != null ">user_id,</if>
            <if test="categoryId != null ">category_id,</if>
            <if test="title != null ">title,</if>
            <if test="coverImage != null and coverImage != '' ">cover_image,</if>
            <if test="summary != null and summary != '' ">summary,</if>
            <if test="keyWords != null and keyWords != '' ">keywords,</if>
            <if test="content != null and content != '' ">content,</if>
            <if test="contentMd != null and contentMd != '' ">content_md,</if>
            <if test="clickCount != null ">click,</if>
            <if test="commentCount != null ">`comment`,</if>
            <if test="likeCount != null ">`like`,</if>
            <if test="isTop != null ">is_top,</if>
            <if test="isShow  != null ">is_show,</if>
            <if test="isOriginal != null ">is_original,</if>
            <if test="isPublished != null ">is_published</if>
        </trim>
        )
        VALUES (
        <trim suffixOverrides=",">
            <if test="articleId != null ">#{articleId},</if>
            <if test="authorId != null ">#{authorId},</if>
            <if test="categoryId != null ">#{categoryId},</if>
            <if test="title  != null and title != '' ">#{title},</if>
            <if test="coverImage != null and coverImage  != '' ">#{coverImage},</if>
            <if test="summary != null and summary != '' ">#{summary},</if>
            <if test="keyWords != null and keyWords != '' ">#{keyWords},</if>
            <if test="content != null and content != '' ">#{content},</if>
            <if test="contentMd != null and contentMd != '' ">#{contentMd},</if>
            <if test="clickCount != null ">#{clickCount},</if>
            <if test="commentCount != null ">#{commentCount},</if>
            <if test="likeCount != null ">#{likeCount},</if>
            <if test="isTop != null ">#{isTop},</if>
            <if test="isShow != null ">#{isShow},</if>
            <if test="isOriginal != null ">#{isOriginal},</if>
            <if test="isPublished != null ">#{isPublished}</if>
        </trim>
        )
    </insert>


    <update id="update" parameterType="article">
        UPDATE article
        <trim prefix="set" suffixOverrides=",">
            <if test="authorId != null">user_id = #{authorId},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="title != null and title != '' ">title = #{title},</if>
            <if test="coverImage != null and coverImage != '' ">cover_image = #{coverImage},</if>
            <if test="summary != null and summary != '' ">summary = #{summary},</if>
            <if test="keyWords != null and keyWords != '' ">keywords = #{keyWords},</if>
            <if test="content != null and content != '' ">content = #{content},</if>
            <if test="contentMd != null and contentMd != '' ">content_md = #{contentMd},</if>
            <if test="clickCount != null ">click = #{clickCount},</if>
            <if test="commentCount != null ">`comment` = #{commentCount},</if>
            <if test="likeCount != null ">`like` = #{likeCount},</if>
            <if test="isTop != null ">is_top = #{isTop},</if>
            <if test="isShow != null ">is_show = #{isShow},</if>
            <if test="isOriginal != null ">is_original = #{isOriginal},</if>
            <if test="isPublished != null ">is_published = #{isPublished}</if>
        </trim>
        WHERE article_id = #{articleId}
    </update>


</mapper>