<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ugly.blog.mapper.ArticleMapper">

    <resultMap id="articleMap" type="com.ugly.blog.entity.Article">
        <id property="articleId" javaType="Integer" column="article_id"/>
        <result property="articleUserId" javaType="Integer" column="article_user_id"/>
        <result property="articleTitle" javaType="String" column="article_title"/>
        <result property="articleViewCount" javaType="Integer" column="article_view_count"/>
        <result property="articleCommentCount" javaType="Integer" column="article_comment_count"/>
        <result property="articleLikeCount" javaType="Integer" column="article_like_count"/>
        <result property="articleCreateTime" javaType="Date" column="article_create_time"/>
        <result property="articleUpdateTime" javaType="Date" column="article_update_time"/>
        <result property="articleOrder" javaType="Integer" column="article_order"/>
        <result property="articleContent" javaType="String" column="article_content"/>
        <result property="articleSummary" javaType="String" column="article_summary"/>
        <result property="articleIsReprint" javaType="Integer" column="article_is_reprint"/>

        <association property="user" column="article_user_id" javaType="com.ugly.blog.entity.User"
                     select="com.ugly.blog.mapper.UserMapper.getUserById">
        </association>
        <collection property="tagList" column="" ofType="com.ugly.blog.entity.Tag">

        </collection>
        <collection property="categoryList" column="" ofType="com.ugly.blog.entity.Category">

        </collection>

    </resultMap>
    <insert id="insertArticle" useGeneratedKeys="true" parameterType="com.ugly.blog.entity.Article"
            keyColumn="article_id" keyProperty="articleId">
        <selectKey keyProperty="articleId" keyColumn="article_id" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>

        INSERT INTO article(article_user_id, article_title, article_content, article_view_count,
        article_comment_count, article_like_count, article_status, article_order,
        article_update_time, article_create_time, article_summary, article_is_reprint)
        VALUES (#{articleUserId}, #{articleTitle}, #{articleContent}, #{articleViewCount}, #{articleCommentCount},
        #{articleLikeCount}, #{articleStatus}, #{articleOrder}, #{articleUpdateTime}, #{articleCreateTime},
        #{articleSummary}, #{articleIsReprint})
    </insert>

    <update id="updateArticle" parameterType="com.ugly.blog.entity.Article">
        UPDATE article
        <set>
            <if test="articleUserId != null">article_user_id=#{articleUserId}</if>
            <if test="articleTitle != null">article_title=#{articleTitle}</if>
            <if test="articleContent != null">article_content=#{articleContent}</if>
            <if test="articleViewCount != null">article_view_count=#{articleViewCount}</if>
            <if test="articleCommentCount != null">article_comment_count=#{articleCommentCount}</if>
            <if test="articleLikeCount != null">article_like_count=#{articleLikeCount}</if>
            <if test="articleStatus != null">article_status=#{articleStatus}</if>
            <if test="articleOrder != null">article_order=#{articleOrder}</if>
            <if test="articleUpdateTime != null">article_update_time=#{articleUpdateTime}</if>
            <if test="articleCreateTime != null">article_create_time=#{articleCreateTime}</if>
            <if test="articleSummary != null">article_summary=#{articleSummary}</if>
            <if test="articleIsReprint != null">article_is_reprint=#{articleIsReprint}</if>
        </set>
        WHERE article_id = #{articleId};
    </update>


</mapper>