<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ugly.blog.mapper.TagMapper">

    <resultMap id="tagMap" type="com.ugly.blog.domain.Tag">
        <id column="tag_id" property="tagId"/>
        <result column="tag_name" property="tagName"/>
        <association property="articleNum" column="tag_id"
                     select="com.ugly.blog.mapper.ArticleTagRefMapper.getCountByTagId"/>
    </resultMap>

    <insert id="insert">
        INSERT tag(
        <if test="_parameter != null and _parameter != '' ">tag_name</if>
        )
        VALUES (
        <if test="_parameter != null and _parameter != '' ">#{tagName}</if>
        )
    </insert>


    <delete id="deleteById" parameterType="integer">
        DELETE
        FROM tag
        WHERE tag_id = #{tagId}
    </delete>


    <update id="update" parameterType="com.ugly.blog.domain.Tag">
        UPDATE tag
        SET tag_name=#{tagName}
        WHERE tag_id = #{tagId}
    </update>


    <select id="getById" resultMap="tagMap">
        SELECT *
        FROM tag
        WHERE tag_id = #{tagId}
    </select>


    <select id="getList" resultMap="tagMap" parameterType="string">
        SELECT *
        FROM tag
        <if test="_parameter  != null and _parameter  != ''">WHERE tag_name LIKE concat('%',#{tagName},'%')</if>
    </select>


    <select id="getByName" resultMap="tagMap">
        SELECT *
        FROM tag
        WHERE tag_name = #{tagName}
    </select>


</mapper>