<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ugly.blog.mapper.UserMapper">
    <resultMap id="userMap" type="com.ugly.blog.domain.User">
        <id property="userId" column="user_id" javaType="integer"/>
        <result column="user_name" property="username" javaType="string"/>
        <result column="password" property="password" javaType="string"/>
        <result column="nickname" property="nickname" javaType="string"/>
        <result column="email" property="email" javaType="string"/>
        <result column="avatar" property="avatar" javaType="string"/>
        <result column="last_login_ip" property="lastLoginIp" javaType="string"/>
        <result column="last_login_time" property="lastLoginTime" javaType="date"/>
        <result column="create_time" property="createTime" javaType="date"/>
        <result column="status" property="status" javaType="integer"/>
        <result column="role" property="role" javaType="string"/>
    </resultMap>


    <insert id="insert" parameterType="com.ugly.blog.domain.User" useGeneratedKeys="true" keyProperty="userId"
            keyColumn="user_id">
        INSERT INTO user(
        <if test="username != null and username != '' ">user_name,</if>
        <if test="password != null and password != '' ">`password`,</if>
        <if test="nickname != null and nickname != '' ">nickname,</if>
        <if test="email != null and email != '' ">email,</if>
        <if test="avatar != null and avatar != '' ">avatar,</if>
        <if test="lastLoginIp != null and lastLoginIp != '' ">last_login_ip,</if>
        <if test="lastLoginTime != null and lastLoginTime != '' ">last_login_time,</if>
        <if test="status != null and status != '' ">status,</if>
        <if test="role != null and role != '' ">role</if>
        )
        VALUES (
        <if test="username != null and username != '' ">#{username},</if>
        <if test="password != null and password != '' ">#{password},</if>
        <if test="nickname != null and nickname != '' ">#{nickname},</if>
        <if test="email != null and email != '' ">#{email},</if>
        <if test="avatar != null and avatar != '' ">#{avatar},</if>
        <if test="lastLoginIp != null and lastLoginIp != '' ">#{lastLoginIp},</if>
        <if test="lastLoginTime != null and lastLoginTime != '' ">#{lastLoginTime},</if>
        <if test="status != null and status != '' ">#{status},</if>
        <if test="role != null and role != '' ">#{role}</if>
        )
    </insert>


    <delete id="deleteById" parameterType="integer">
        DELETE
        FROM user
        WHERE user_id = #{userId}
    </delete>


    <update id="update" parameterType="com.ugly.blog.domain.User">
        update user
        <set>
            <if test="username != null and username != '' ">user_name=#{username,jdbcType=VARCHAR}</if>
            <if test="password != null and password != ''">,`password` = #{password,jdbcType=VARCHAR}</if>
            <if test="nickname != null and nickname != ''">,nickname = #{nickname,jdbcType=VARCHAR}</if>
            <if test="email != null and email != ''">,email = #{email,jdbcType=VARCHAR}</if>
            <if test="avatar != null and avatar != ''">,avatar = #{avatar,jdbcType=VARCHAR}</if>
            <if test="lastLoginIp != null and lastLoginIp != ''">,last_login_ip = #{lastLoginIp,jdbcType=VARCHAR}
            </if>
            <if test="lastLoginTime != null and lastLoginTime != ''">,last_login_time =
                #{lastLoginTime,jdbcType=TIMESTAMP}
            </if>
            <if test="status != null and status != ''">,`status` = #{status,jdbcType=INTEGER}</if>
            <if test="role != null and role != ''">,`role` = #{role,jdbcType=VARCHAR}</if>
        </set>
        <where>user_id=#{userId,jdbcType=INTEGER}</where>
    </update>


    <select id="getUserList" resultMap="userMap">
        SELECT *
        FROM user
    </select>

    <select id="getUserByNameOrEmail" resultMap="userMap">
        SELECT *
        FROM user
        WHERE email = #{str}
           OR user_name = #{str}
    </select>

    <select id="getUserByName" resultMap="userMap">
        SELECT *
        FROM user
        WHERE user_name = #{name}
    </select>


    <select id="getUserByEmail" resultMap="userMap">
        SELECT *
        FROM user
        WHERE email = #{email}
    </select>

    <select id="getById" resultMap="userMap">
        SELECT user_id,
               user_name,
               nickname,
               email,
               avatar,
               role,
               status,
               last_login_time,
               last_login_ip,
               create_time
        FROM user
        WHERE user_id = #{userId}
    </select>


</mapper>